<div fxLayout="column" fxLayoutAlign="space-between flex-start">
  <h1>Tracks</h1>
  <a mat-raised-button color="warn" [routerLink]="['/track-history']"
     style="margin-bottom: 10px" *appHasRoles="['user', 'admin']">Track History</a>

</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else tracksArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #tracksArea>
  <div fxLayout="column wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let track of tracks | async">
      <mat-card >
        <div *appHasRoles="['admin']">
          <button (click)="onPublish(track._id)" type="button" color="warn" mat-raised-button>
            {{ (track.isPublished === false) ? 'Published': '' }}
          </button>
          <button type="button" color="primary" mat-raised-button>
            {{ (track.isPublished === false) ? 'Not published': '' }}
          </button>
        </div>
        <mat-card-content>
          <h2>Name of Tracks: <strong>{{ track.title }}</strong></h2>
          <h4>Duration: {{ track.lengthTrack }}</h4>
          <button (click)="addTrack(track._id)"> Listen </button>
        </mat-card-content>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="onDelete(track._id)"
            *appHasRoles="['admin']"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>





