<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Track History</h1>
</div>
<div class="error" *ngIf="error | async">{{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else areaData" mode="indeterminate"></mat-progress-spinner>
<ng-template #areaData>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" >
      <mat-card *ngFor="let track of trackHistories | async" class="list">
        <mat-card-content>
            <h4>Time:{{ track.datetime }}</h4>
          <h4>Name of track: {{ track.track.title }}</h4>
        </mat-card-content>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="onDelete(track._id)"
            *appHasRoles="['admin']"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>



