<h1>ADD NEW TRACK</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Album</mat-label>
        <mat-select name="album" required ngModel>
          <mat-option *ngFor="let album of albums | async"
                      [value]="album._id">
            {{ album.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <mat-select name="artist" required ngModel>
          <mat-option *ngFor="let artist of artists | async"
                      [value]="artist._id" (click)="onClick(artist._id)">
            {{ artist.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>lengthTrack</mat-label>
        <input required name="lengthTrack" matInput ngModel/>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >SAVE</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>


