<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Albums</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else albumsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #albumsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let album of albums | async">
      <h1>Artist: {{ album.artist.name }}</h1>
      <mat-card >
        <img
          [src]="album.image | image"
          [alt]="'Photo of' + album.image"
          mat-card-image
        />
        <mat-card-content>
          <h2>Name of Albums: <strong>{{ album.name }}</strong></h2>
          <h4>Year: {{ album.year }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

