/* You can add global styles to this file, and also import other style files */
.error
  background-color: #f44336
  padding: 20px
  color: white
  margin-bottom: 15px
  text-align: center
  border-radius: 2px

body, html, .sidenav-container, .mat-toolbar
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3WZgM16jUhQWRCJYKL2A3Pivrr2SeVBeVWA&usqp=CAU")



