<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Albums</h1>
</div>
<div class="error" *ngIf="error | async"> {{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else albumsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #albumsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let album of albums | async">
      <h1>Artist: {{ album.artist.name }}</h1>
      <mat-card [routerLink]="['/', album._id, album.artist.name, album.name]" (click)="onClick(album._id)">
        <div *appHasRoles="['admin']">
          <button (click)="onPublish(album._id)" type="button" color="warn" mat-raised-button>
            {{ (album.isPublished === false) ? 'Published': '' }}
          </button>
          <button type="button" color="primary" mat-raised-button>
            {{ (album.isPublished === false) ? 'Not published': '' }}
          </button>
        </div>
        <img class="image"
          [src]="album.image | image"
          [alt]="'Photo of' + album.image"
          mat-card-image
        />
        <mat-card-content>
          <h2>Name of Albums: <strong>{{ album.name }}</strong></h2>
          <h4>Year: {{ album.year }}</h4>
        </mat-card-content>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="onDelete(album._id)"
            *appHasRoles="['admin']"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>




