<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Artists</h1>
</div>
<div class="error" *ngIf="error | async">{{error | async}}</div>
<mat-progress-spinner *ngIf="loading | async else artistsArea" mode="indeterminate"></mat-progress-spinner>
<ng-template #artistsArea>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.lt-lg="33%" fxFlex="25%" *ngFor="let artist of artists | async">
      <mat-card [routerLink]="['/album', artist._id]">
        <div *appHasRoles="['admin']">
          <button (click)="onPublish(artist._id)" type="button" color="warn" mat-raised-button>
            {{ (artist.isPublished === false) ? 'Published': '' }}
          </button>
          <button type="button" color="primary" mat-raised-button>
            {{ (artist.isPublished === false) ? 'Not published': '' }}
          </button>
        </div>
        <img
          [src]="artist.image | image"
          [alt]="'Photo of' + artist.image"
          mat-card-image/>
        <mat-card-content>
          <h2>Name of Artist: <strong>{{ artist.name }}</strong></h2>
        </mat-card-content>
        <div >
          <button
            type="submit"
            mat-raised-button
            color="warn"
            (click)="onDelete(artist._id)"
            *appHasRoles="['admin']"
          >Delete</button>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>


